*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #01131f;
}

h1 {
    margin-top: 250px;
    font-size: 800%;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    margin-top: 250px;
    font-size: 500%;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
}

p{
    box-sizing: border-box;
    text-align: center;
    margin-left: 200px;
    margin-top: 40px;
    color: whitesmoke;
    font-size: 150%;
}

ol {
    color: whitesmoke;
}

ol li{
    font-size: 200%;
    text-align: center;
}

.proceed button{
    font-size: 200%;
    color: whitesmoke;
    background-color: navy;
    border-radius: 0.5rem;
}

.proceed {
    box-sizing: border-box;
    margin: 100px;
    margin-right: 100;
    width: fit-content;
    height: fit-content;
}

.social-icon{
    margin-left: 500px;
    margin-right: 500px;
}

.icon{
    margin: 0 10px;
    text-decoration: none;
    color: whitesmoke;
    color: 0.2s;
    margin-bottom: 20px;
}

.icon:hover{
    color: blue;
}