*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}

.header h1{
    background-color: black;
}

h1 {
    font-size: 800%;
    color: white;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
}

h2 {
    margin-top: 250px;
    font-size: 500%;
    color: black;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
}

p{
    box-sizing: border-box;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    color: black;
    font-size: 30px;
}

dl {
    margin-left: 200px;
    font-size: 30px;
}

.proceed button{
    margin-left: 200px;
    font-size: 200%;
    color: whitesmoke;
    background-color: black;
    border-radius: 0.5rem;
}

.proceed {
    box-sizing: border-box;
    margin: 100px;
    margin-right: 100;
    width: fit-content;
    height: fit-content;
}

.about {
    margin-bottom: 50px;
}

.footer {
    background-color: black;

}

.social-icon{
    background-color: black;
    align-items: center;

}

.icon{
    display: inline-block;
    align-items: center;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    color: 0.2s;
    margin-bottom: 20px;
}

.icon:hover{
    color: blue;
}
.git {
    color: blue;
}